In [ ]:
#pip install faker

Collecting faker
  Downloading faker-37.5.3-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in c:\users\caudi\documents\bdeb\a61\projet_synthese_ia\venv\lib\site-packages (from faker) (2025.2)
Downloading faker-37.5.3-py3-none-any.whl (1.9 MB)
   ---------------------------------------- 0.0/1.9 MB ? eta -:--:--
   ---------------------------------------- 1.9/1.9 MB 10.8 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.5.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import numpy as np
from faker import Faker
import random
from datetime import datetime
from sklearn.utils import resample

In [2]:
# Initialize Faker
fake = Faker()

# Load the original dataset
df = pd.read_csv('telco_churn.csv')

display(df)

,Age,Avg Monthly GB Download,Avg Monthly Long Distance Charges,Churn Category,Churn Reason,Churn Score,City,CLTV,Contract,Country,...,Tenure in Months,Total Charges,Total Extra Data Charges,Total Long Distance Charges,Total Refunds,Total Revenue,Under 30,Unlimited Data,Zip Code,Churn
0,72,4.00,19.44,NaN,NaN,51,San Mateo,4849,Two Year,United States,...,25,2191.15,0.00,486.00,0.0,2677.15,0,1,94403,1
1,27,59.00,45.62,NaN,NaN,27,Sutter Creek,3715,Month-to-Month,United States,...,35,3418.20,0.00,1596.70,0.0,5014.90,1,1,95685,1
2,59,0.00,16.07,NaN,NaN,59,Santa Cruz,5092,Month-to-Month,United States,...,46,851.20,0.00,739.22,0.0,1590.42,0,0,95064,1
3,25,27.00,0.00,NaN,NaN,49,Brea,2068,One Year,United States,...,27,1246.40,30.00,0.00,0.0,1276.40,1,0,92823,1
4,31,21.00,17.22,Dissatisfaction,Network reliability,88,San Jose,4026,One Year,United States,...,58,3563.80,0.00,998.76,0.0,4562.56,0,1,95117,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14079,49,32.82,7.66,NaN,NaN,58,Macdonaldview,5534,One Year,United States,...,69,5753.57,0.00,483.76,0.0,6237.33,0,0,94830,0
14080,80,27.37,21.41,NaN,NaN,21,South Robertview,4376,Month-to-Month,United States,...,57,1411.96,0.00,1101.46,0.0,2513.42,0,0,91087,1
14081,18,20.63,0.00,Dissatisfaction,Don't know,71,Port Wendystad,4839,Two Year,United States,...,21,2192.09,0.00,0.00,0.0,2192.09,1,0,92966,0
14082,45,17.56,3.65,Attitude,Extra data charges,81,Stephaniefort,5046,Two Year,United States,...,21,858.67,0.00,79.43,0.0,938.10,0,0,93821,0
14083,23,0.00,47.76,NaN,NaN,50,Stevenhaven,3267,Month-to-Month,United States,...,39,1974.93,33.89,1956.93,0.0,3965.75,1,1,92676,1

In [3]:
# Check the data types of the columns
print(df.dtypes)

Age                                    int64
Avg Monthly GB Download              float64
Avg Monthly Long Distance Charges    float64
Churn Category                        object
Churn Reason                          object
Churn Score                            int64
City                                  object
CLTV                                   int64
Contract                              object
Country                               object
Customer ID                           object
Customer Status                       object
Dependents                             int64
Device Protection Plan                 int64
Gender                                object
Internet Service                       int64
Internet Type                         object
Lat Long                              object
Latitude                             float64
Longitude                            float64
Married                                int64
Monthly Charge                       float64
Multiple Lines                         int64
Number of Dependents                   int64
Number of Referrals                    int64
Offer                                 object
Online Backup                          int64
Online Security                        int64
Paperless Billing                      int64
Partner                                int64
Payment Method                        object
Phone Service                          int64
Population                             int64
Premium Tech Support                   int64
Quarter                               object
Referred a Friend                      int64
Satisfaction Score                     int64
Senior Citizen                         int64
State                                 object
Streaming Movies                       int64
Streaming Music                        int64
Streaming TV                           int64
Tenure in Months                       int64
Total Charges                        float64
Total Extra Data Charges             float64
Total Long Distance Charges          float64
Total Refunds                        float64
Total Revenue                        float64
Under 30                               int64
Unlimited Data                         int64
Zip Code                               int64
Churn                                  int64
dtype: object

In [4]:
df.describe()

,Age,Avg Monthly GB Download,Avg Monthly Long Distance Charges,Churn Score,CLTV,Dependents,Device Protection Plan,Internet Service,Latitude,Longitude,...,Tenure in Months,Total Charges,Total Extra Data Charges,Total Long Distance Charges,Total Refunds,Total Revenue,Under 30,Unlimited Data,Zip Code,Churn
count,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,...,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000,14084.000000
mean,46.450582,21.282724,20.376348,52.309003,4331.416146,0.421187,0.298708,0.641863,36.738180,-119.507865,...,32.425873,2211.504488,8.329705,664.584192,2.306725,2882.111661,0.183329,0.461233,93285.861758,0.263419
std,16.371739,19.082214,16.321264,24.323434,1242.159661,0.743526,0.457708,0.479470,2.653679,2.565695,...,23.541092,2092.995779,24.390581,816.703623,8.445887,2614.327322,0.386949,0.498513,1825.964396,0.440504
min,18.000000,0.000000,0.000000,5.000000,2003.000000,0.000000,0.000000,0.000000,32.555828,-124.301372,...,1.000000,9.060000,0.000000,0.000000,0.000000,-23.110000,0.000000,0.000000,90001.000000,0.000000
25%,34.000000,5.000000,3.977500,32.000000,3281.000000,0.000000,0.000000,0.000000,34.127621,-121.786202,...,11.000000,490.607500,0.000000,22.957500,0.000000,748.972500,0.000000,0.000000,91846.750000,0.000000
50%,46.000000,18.430000,19.105000,53.000000,4419.000000,0.000000,0.000000,1.000000,36.825399,-119.375646,...,30.000000,1580.555000,0.000000,318.150000,0.000000,2206.615000,0.000000,0.000000,93290.000000,0.000000
75%,59.000000,30.000000,34.632500,72.000000,5381.000000,1.000000,1.000000,1.000000,38.787446,-117.493707,...,51.000000,3362.787500,0.000000,1051.987500,0.000000,4302.600000,0.000000,1.000000,95010.000000,1.000000
max,81.000000,94.340000,50.000000,96.000000,6500.000000,3.000000,1.000000,1.000000,41.962127,-114.192901,...,116.000000,14166.840000,150.000000,5080.180000,49.790000,17912.560000,1.000000,1.000000,96161.000000,1.000000

In [17]:
def generate_synthetic_data(original_df, num_samples=1000):
    """
    Generate synthetic data that maintains similar statistical properties to the original dataset
    """
    synthetic_data = []
    
    # Get value counts for categorical columns to maintain distributions
    churn_dist = original_df['Churn'].value_counts(normalize=True)
    contract_dist = original_df['Contract'].value_counts(normalize=True)
    internet_type_dist = original_df['Internet Type'].value_counts(normalize=True)
    payment_dist = original_df['Payment Method'].value_counts(normalize=True)
    gender_dist = original_df['Gender'].value_counts(normalize=True)
    
    # Get numerical column statistics
    age_stats = original_df['Age'].describe()
    monthly_gb_stats = original_df['Avg Monthly GB Download'].describe()
    monthly_charge_stats = original_df['Monthly Charge'].describe()
    tenure_stats = original_df['Tenure in Months'].describe()
    
    # Churn reasons and categories
    churn_reasons = original_df['Churn Reason'].dropna().unique()
    churn_categories = original_df['Churn Category'].dropna().unique()
    
    for _ in range(num_samples):
        # Generate customer demographics
        gender = np.random.choice(gender_dist.index, p=gender_dist.values)
        age = int(np.random.normal(age_stats['mean'], age_stats['std']))
        age = max(18, min(age, 81))  # Ensure reasonable age range
        married = random.choice([0, 1])
        dependents = random.choices([0, 1, 2, 3], weights=[0.65, 0.15, 0.15, 0.05])[0]
        
        # Generate location data
        city = fake.city()
        state = "California"
        state_abbr = "CA"  # Using state abbreviation for zip code generation
        try:
            zip_code = fake.zipcode_in_state(state_abbr)
        except:
            zip_code = fake.zipcode()  # Fallback if state abbreviation fails
            
        lat = round(np.random.uniform(32.55, 41.96), 6)
        lng = round(np.random.uniform(-124.30, -114.19), 6)
        lat_long = f"{lat}, {lng}"
        population = random.randint(11, 101215)
        
        # Generate service information
        contract = np.random.choice(contract_dist.index, p=contract_dist.values)
        phone_service = random.choice([0, 1])
        multiple_lines = random.choice([0, 1]) if phone_service else 0
        internet_service = random.choice([0, 1])
        
        internet_type = None
        if internet_service:
            internet_type = np.random.choice(internet_type_dist.index, p=internet_type_dist.values)
        
        # Generate usage data
        avg_monthly_gb = max(0, round(np.random.normal(monthly_gb_stats['mean'], monthly_gb_stats['std']), 2))
        avg_long_dist = round(np.random.uniform(0, 50), 2) if random.random() > 0.3 else 0
        monthly_charge = max(10, round(np.random.normal(monthly_charge_stats['mean'], monthly_charge_stats['std']), 2))
        tenure = max(1, int(np.random.normal(tenure_stats['mean'], tenure_stats['std'])))
        
        # Generate churn-related data
        churn = np.random.choice(churn_dist.index, p=churn_dist.values)
        churn_category = None
        churn_reason = None
        churn_score = random.randint(5, 96)
        
        if churn == 1:
            churn_category = random.choice(churn_categories)
            churn_reason = random.choice(churn_reasons)
            churn_score = random.randint(65, 96)  # Higher scores for churned customers
        else:
            churn_score = random.randint(5, 64)  # Lower scores for non-churned
            
        # Generate customer status
        status_options = ['Stayed', 'Joined', 'Churned']
        customer_status = 'Churned' if churn == 1 else random.choice(['Stayed', 'Joined'])
        
        # Generate other features
        paperless_billing = random.choice([0, 1])
        payment_method = np.random.choice(payment_dist.index, p=payment_dist.values)
        referred_friend = random.choice([0, 1])
        number_referrals = random.randint(0, 10) if referred_friend else 0
        satisfaction_score = random.randint(1, 5)
        senior_citizen = 1 if age >= 65 else 0
        partner = random.choice([0, 1])
        
        # Generate device and service features
        device_protection = random.choice([0, 1]) if internet_service else 0
        online_backup = random.choice([0, 1]) if internet_service else 0
        online_security = random.choice([0, 1]) if internet_service else 0
        premium_tech_support = random.choice([0, 1]) if internet_service else 0
        streaming_tv = random.choice([0, 1]) if internet_service else 0
        streaming_movies = random.choice([0, 1]) if internet_service else 0
        streaming_music = random.choice([0, 1]) if internet_service else 0
        unlimited_data = random.choice([0, 1]) if internet_service else 0
        
        # Generate financial metrics
        total_charges = round(monthly_charge * tenure * random.uniform(0.9, 1.1), 2)
        total_long_dist = round(avg_long_dist * tenure * random.uniform(0.9, 1.1), 2)
        total_extra_data = round(random.uniform(0, 100), 2) if random.random() > 0.8 else 0
        total_refunds = round(random.uniform(0, 50), 2) if random.random() > 0.9 else 0
        total_revenue = total_charges + total_long_dist + total_extra_data - total_refunds
        
        # Generate customer ID
        customer_id = f"{fake.random_number(digits=4)}-{fake.lexify(text='?????', letters='ABCDEFGHIJKLMNOPQRSTUVWXYZ')}"
        
        # Generate quarter (assuming Q3 based on original data)
        quarter = "Q4"
        
        # Generate CLTV (Customer Lifetime Value)
        cltv = random.randint(2003, 6500)
        
        # Generate offer
        offers = ['Offer A', 'Offer B', 'Offer C', 'Offer D', 'Offer E', None]
        offer = random.choice(offers)
        
        # Generate under 30 flag
        under_30 = 1 if age < 30 else 0
        
        # Create the synthetic record
        record = {
            'Age': age,
            'Avg Monthly GB Download': avg_monthly_gb,
            'Avg Monthly Long Distance Charges': avg_long_dist,
            'Churn Category': churn_category,
            'Churn Reason': churn_reason,
            'Churn Score': churn_score,
            'City': city,
            'CLTV': cltv,
            'Contract': contract,
            'Country': "United States",
            'Customer ID': customer_id,
            'Customer Status': customer_status,
            'Dependents': dependents,
            'Device Protection Plan': device_protection,
            'Gender': gender,
            'Internet Service': internet_service,
            'Internet Type': internet_type,
            'Lat Long': lat_long,
            'Latitude': lat,
            'Longitude': lng,
            'Married': married,
            'Monthly Charge': monthly_charge,
            'Multiple Lines': multiple_lines,
            'Number of Dependents': dependents,
            'Number of Referrals': number_referrals,
            'Offer': offer,
            'Online Backup': online_backup,
            'Online Security': online_security,
            'Paperless Billing': paperless_billing,
            'Partner': partner,
            'Payment Method': payment_method,
            'Phone Service': phone_service,
            'Population': population,
            'Premium Tech Support': premium_tech_support,
            'Quarter': quarter,
            'Referred a Friend': referred_friend,
            'Satisfaction Score': satisfaction_score,
            'Senior Citizen': senior_citizen,
            'State': state,
            'Streaming Movies': streaming_movies,
            'Streaming Music': streaming_music,
            'Streaming TV': streaming_tv,
            'Tenure in Months': tenure,
            'Total Charges': total_charges,
            'Total Extra Data Charges': total_extra_data,
            'Total Long Distance Charges': total_long_dist,
            'Total Refunds': total_refunds,
            'Total Revenue': total_revenue,
            'Under 30': under_30,
            'Unlimited Data': unlimited_data,
            'Zip Code': zip_code,
            'Churn': churn
        }
        
        synthetic_data.append(record)
    
    return pd.DataFrame(synthetic_data)

In [18]:
# Generate synthetic data (1000 samples)
synthetic_df = generate_synthetic_data(df, num_samples=1000)

# Save to CSV
synthetic_df.to_csv('21082025_synthetic_telco_churn.csv', index=False)

print("Synthetic data generated and saved to '21082025_synthetic_telco_churn.csv'")

Synthetic data generated and saved to '21082025_synthetic_telco_churn.csv'